/* Estilo para el contenedor del formulario de login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; /* Color de fondo claro */
}

/* Estilo para la tarjeta del formulario de login */
.login-card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    background-color: #ffffff; /* Fondo blanco */
}

/* Estilo para el título del formulario de login */
.login-card h2 {
    margin-bottom: 1.5rem; /* Espaciado inferior */
}

/* Estilo para los enlaces de recuperación de contraseña */
.login-card .text-center a {
    color: #007bff; /* Color azul por defecto */
    text-decoration: none;
}

.login-card .text-center a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

/* Estilo para el contenedor del formulario de sign in */
.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; /* Color de fondo claro */
}

/* Estilo para la tarjeta del formulario de sign in */
.sign-in-card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    background-color: #ffffff; /* Fondo blanco */
}

/* Estilo para el título del formulario de sign in */
.sign-in-card h2 {
    margin-bottom: 1.5rem; /* Espaciado inferior */
}

/* Estilo para los enlaces de recuperación de contraseña */
.sign-in-card .text-center a {
    color: #007bff; /* Color azul por defecto */
    text-decoration: none;
}

.sign-in-card .text-center a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}
